.inputCtr {
  width: 95%;
  margin: auto;
}
.inputs_ctr {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 15px auto;
  display: flex;
  justify-content: space-around;
}
.recent-grid {
  margin-top: 1rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 50% auto;
}
.inpts_on_left {
  flex: 1;
}
.inpts_on_right {
  flex: 1;
}
.card-body,
.card-header {
  padding: 1rem;
}
