.MuiPaper-root {
  border-radius: 5px !important;
  background: rgb(240, 239, 239) !important;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 01) !important;
  transition: all 200ms ease-out;
}
.MuiTableCell-head {
  background: rgb(238, 238, 238) !important;
}
